* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

body {
    background: rgb(6, 1, 77);
    

} 

/* h1{ */
    /* text-align: center;

}
h3{
    text-align: center;

}
p{
    text-align: center; */

/* } */
img{
    display: block;
    margin: 0px auto 50px auto ;
}

.left {
    text-align: left;
}

.test {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
}
.center{
    text-align: center;
}
h1{
    font-size: 50px;
}
input,button{
    color: #000;
}